.myI{
    width: 35px;
    height: 35px;
    border:white 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myfooter{
    background-color: #2C3E50;
}